#container{
    display: flex;
    flex-direction: row;
}
h2{
    text-align: center;
    margin-bottom: 7%;
}
.battery{
    display: flex;
    flex-direction: column;
    border-style:solid;
    border-width: 1px;
    border-color: rgba(15, 12, 12, 0.788);
    width: 25vh;
    height: 8vw;
}
#ust{
    border-bottom: snow;
}
#orta{
    border-bottom: snow;
}
#batterys{
    margin-left:30%;
}
#buttons{
    margin-left: 10%;  
}
.btn{
    margin-top: 70%;
    width: 15vh;
    height: 3vw;
    background-color: rgb(68, 157, 212);
    font-style: normal;
    color: white;
}
